---
const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} <a href="mailto:svimanet@pm.me">Svimanet</a> authored all content on this site.</p>
	<p>Source code on <a href="https://github.com/svimanet/weblog">GitHub</a>.</p>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
